@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.back_green{background-color: greenyellow;}
.back_red{background-color: red;}
.back_aquamarine{background-color: aquamarine;}

.none{text-decoration: none;}
.bar{text-decoration:underline; text-decoration-color: crimson; text-underline-position: under;}
.necessary{color: red; margin-left: 25px; font-weight: bold;}
.choice{width: 200px; height: 50px;}

p{line-height: 0%;}
label{margin-left: 25px;}
body{font-family: 'Nanum Gothic Coding', monospace;  font-size: 20px;}
input{font-size: 20px;}
button{font-size: 20px;}
h1{
	text-align: center;
	font-family: 'Fredoka One', cursive;
	width: auto;
	height: auto;
}
div{
	border-style: solid;
	border-color: darkgrey;
	padding: 20px;
}